body {
  overflow-x: hidden;
  background: linear-gradient(135deg, #242425, #6f42c1);
  color: white;
}

.text-justify {
  text-align: justify;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

p {
  margin-bottom: 24px;
}

h1,
h2 {
  margin-bottom: 32px;
}

ul.centered-list {
  list-style-position: inside;
  text-align: center;
  padding-left: 0;
}

.img-carrusel {
  width: 60%;
  max-width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  max-width: 100%;
  margin: 0 auto;
}

main {
  padding: 2rem;
  text-align: center;
}
